WCFClient/App_WebReferences/WCFReference/GrantRe2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1616/GrantRe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Apartment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestGrantAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestGrantAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRequestGrantAmountResult" nillable="true" type="q1:ArrayOfGrantRequestInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="r" nillable="true" type="q2:GrantRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newGrantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTypesResult" nillable="true" type="q3:ArrayOfGrantType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>